{% load crispy_forms_tags %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Sondao</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#addPersonModal">Add person</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#AddRelationModal">Add relation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#AddDocumentModal">Add Document</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#removePersonModal">Remove person</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#removeRelationModal">Remove relation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#removeDocumentModal">Remove Document</a>
      </li>
    </ul>
  </div>
</nav>

<div class="modal fade" id="addPersonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addPersonModalLabel">Add person</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<form method="post">
          {% csrf_token %}
          {{person_form|crispy}}
          <button type="submit" value="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal hide fade" id="removePersonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removePersonModalLabel">Remove person</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          {% csrf_token %}
          {% for object in person_objects %}
            <a href="{{object.pk}}/delete_person/" class="list-group-item list-group-item-action">{{object}}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="AddRelationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddRelationModalLabel">Add Relation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<form method="post">
          {% csrf_token %}
          {{relation_form|crispy}}
          <button type="submit" value="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal hide fade" id="removeRelationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeRelationModalLabel">Remove relation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          {% csrf_token %}
          {% for object in relation_objects %}
            <a href="{{object.pk}}/delete_relation/" class="list-group-item list-group-item-action">{{object}}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="AddDocumentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddDocumentModalLabel">Add Relation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<form method="post">
          {% csrf_token %}
          {{document_form|crispy}}
          <button type="submit" value="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal hide fade" id="removeDocumentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeDocumentModalLabel">Remove document</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          {% csrf_token %}
          {% for object in document_objects %}
            <a href="{{object.pk}}/delete_document/" class="list-group-item list-group-item-action">{{object}}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>