{% load crispy_forms_tags %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Sondao</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#addPersonModal">Add person</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#AddRelationModal">Add relation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#AddDocumentModal">Add document</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#managePersonModal">Manage persons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#manageRelationModal">Manage relations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#manageDocumentModal">Manage documents</a>
      </li>
    </ul>
</nav>

<div class="modal fade" id="addPersonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addPersonModalLabel">Add person</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<form method="post">
          {% csrf_token %}
          {{person_form|crispy}}
          <button type="submit" value="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal hide fade" id="managePersonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="managePersonModalLabel">Manage persons</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          {% for object in person_objects %}
          <div class="list-group-item list-group-item-action">
            <div class="d-flex">
              <div class="mr-auto p-2">{{object}}</div>
              <div class="p-2"><a type="button" class="btn btn-info" href="{{object.pk}}/update_person/">UPDATE</a></div>
              <div class="p-2"><a type="button" class="btn btn-danger" href="{{object.pk}}/delete_person/">DELETE</a></div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="AddRelationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddRelationModalLabel">Add Relation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<form method="post">
          {% csrf_token %}
          {{relation_form|crispy}}
          <button type="submit" value="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal hide fade" id="manageRelationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="manageRelationModalLabel">Manage relations</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          {% for object in relation_objects %}
          <div class="list-group-item list-group-item-action">
            <div class="d-flex">
              <div class="mr-auto p-2">{{object}}</div>
              <div class="p-2"><a type="button" class="btn btn-info" href="{{object.pk}}/update_relation/">UPDATE</a></div>
              <div class="p-2"><a type="button" class="btn btn-danger" href="{{object.pk}}/delete_relation/">DELETE</a></div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="AddDocumentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddDocumentModalLabel">Add Relation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<form method="post">
          {% csrf_token %}
          {{document_form|crispy}}
          <button type="submit" value="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal hide fade" id="manageDocumentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="manageDocumentModalLabel">Manage documents</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          {% for object in document_objects %}
          <div class="list-group-item list-group-item-action">
            <div class="d-flex">
              <div class="mr-auto p-2">{{object}}</div>
              <div class="p-2"><a type="button" class="btn btn-info" href="{{object.pk}}/update_document/">UPDATE</a></div>
              <div class="p-2"><a type="button" class="btn btn-danger" href="{{object.pk}}/delete_document/">DELETE</a></div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>